<div class="container">
    <div class="row" *ngIf="user" style="margin-top: 25%; margin-left: 40%;">
        <div class="col">
            <img src="{{ user.photoUrl }}">
            <div>
                <h4>{{ user.name }}</h4>
                <p>{{ user.email }}</p>
            </div>
            <button *ngIf="user" class="btn btn-secondary" (click)="signOut()"> SignOut</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="margin-top: 25%; margin-left: 40%;">
            <button type="button" class="btn btn-primary" (click)="signInWithFB()" *ngIf="!user">Login With
                facebook</button>
        </div>
    </div>
</div>